body {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 350px;
  padding: 5px;
  font-size: 16px;
}

input.small {
    width: 70px;
    padding: 5px;
    font-size: 16px;
}
  
button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

table, td, th {
  border: 1px solid #AAA;
  border-spacing: 0px;
}

td, th {
  padding: 0.25em;
}

.adding {
  color: gray;
}

#navbar {
  width: 100%;
  background-color: rgba(222,113,80,1);
}

#logo {
  float: left;
  height: 36px;
  width: auto;
  margin-left: 90px;
}

.navbar-brand {
  padding: 12px !important;
}

#navbar a {
  color: #fff;
}

#navbar a:hover {
  background-color: rgba(222,113,80,.8);
}

.owner-only {
    visibility: "hidden";
}