/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
  background-color: #ddd;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.project-container {
  background-color: #fff;
    float: left;
    margin: 0 0 10px 10px;
    border-radius: 10px;
    padding: 5px;
}

.project-container-header {
  background-color: #ddd;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.button-success,
 .button-error,
 .button-warning,
 .button-secondary {
     color: white;
     border-radius: 4px;
     text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 }

 .button-success {
     background: rgb(28, 184, 65); /* this is a green */
 }

 .button-error {
     background: rgb(202, 60, 60); /* this is a maroon */
 }

 .button-warning {
     background: rgb(223, 117, 20); /* this is an orange */
 }

 .button-secondary {
     background: rgb(66, 184, 221); /* this is a light blue */
 }

.button-xsmall,
.text-xsmall {
    font-size: 70%;
}

.button-small,
.text-small {
    font-size: 85%;
}

.button-large,
.text-large {
    font-size: 110%;
}

.button-xlarge,
.text-xlarge {
    font-size: 125%;
}

div .col {
  float: left;
  margin-right: 5px;
}

